<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>IPv4 快速切换工具</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="margin-top: 10px">
            <div class="col-4">
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="text-align: center"><b>地址</b></td>
                                <td style="text-align: center"><b>备注</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="it in plan_list_db.data" class="table-striped" style="cursor:pointer"
                                :style="{ backgroundColor: it[0]===curr_plan_id?'#f0f0f5':'white' }"
                                @click="tablePlanTrClick(it[0])">
                                <td>{{it[1]}}</td>
                                <td>{{it[4] || ''}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
            </div>

            <div class="col-5">
            

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">网卡名称</span>
                    </div>
                    <select v-model="network_selected" class="form-control">
                        <option v-for="option in network_options" :value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                  </div>

                  <div class="float-right" style="margin-top: 0px;margin-bottom: 10px;">
                    <button type="button" class="btn btn-primary" @click="button_use_dhcp">使用 DHCP</button>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">方案备注</span>
                    </div>
                    <input type="text" class="form-control" v-model.trim="input_data.beizu" />
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">IPv4地址</span>
                    </div>
                    <input type="text" class="form-control" id="address" v-model.trim="input_data.address" title="例：192.168.10.8" />
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">子网掩码</span>
                    </div>
                    <input type="text" class="form-control" id="subnetmask" v-model.trim="input_data.subnetmask" value="255.255.255.0" title="例：255.255.255.0" />
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">网关地址</span>
                    </div>
                    <input type="text" class="form-control" id="router" v-model.trim="input_data.router" title="例：192.168.10.1" />
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">首选DNS</span>
                    </div>
                    <input type="text" class="form-control" id="dns1" v-model.trim="input_data.dns1" title="例：223.5.5.5" />
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">备用DNS</span>
                    </div>
                    <input type="text" class="form-control" id="dns2" v-model.trim="input_data.dns2" title="例：114.114.114.114" />
                  </div>

                  <div class="float-right" style="margin-top: 0px;margin-bottom: 10px;">
                    <button type="button" class="btn btn-primary" @click="button_application">应用方案</button>
                  </div>
                  
                  <div class="input-group mb-3">
                    方案功能：
                            <button type="button" class="btn btn-info btn-sm" @click="button_create">新建</button>&nbsp;
                            <button type="button" class="btn btn-info btn-sm" @click="button_update">修改</button>&nbsp;
                            <button type="button" class="btn btn-info btn-sm" @click="button_delete">删除</button>&nbsp;
                            <button type="button" class="btn btn-info btn-sm" @click="clearAllInput">清空</button>    
                  </div>
                  
            </div>

            <div class="col-3">
                <div style="margin-left: 10px">
                    <address>网卡：
                        <strong><span>{{network_selected}}</span></strong><br />
                        方式：<span style="border-bottom: 1px solid">{{right_span_infos.method}}</span><br />
                        地址：<span style="border-bottom: 1px solid">{{right_span_infos.address}}</span><br />
                        掩码：<span style="border-bottom: 1px solid">{{right_span_infos.subnetmask}}</span><br />
                        网关：<span style="border-bottom: 1px solid">{{right_span_infos.router}}</span><br />
                        DNS：<span style="border-bottom: 1px solid">{{right_span_infos.dns1}}</span><br />
                        DNS：<span style="border-bottom: 1px solid">{{right_span_infos.dns2}}</span><br />
                    </address>
                </div>
                
            </div>
        </div>
    </div>


    <script>
        
        const IPTOOLS = {
            task_Interval_running: false, //更新网卡信息的定时任务是否正在运行，true为正在运行
            cmd_out_keys:{//保存cmd命令的输出的关键字符，比如：Enabled 和 已启用
              str_Enabled:'Enabled',
              // 正则表达式匹配所需字段
              reg_dhcpRegex : /DHCP enabled:\s*(Yes|No)/,
              reg_ipRegex : /IP Address:\s*([\d.]+)/,
              reg_subnetRegex : /Subnet Prefix:.*\(mask ([\d.]+)\)/,
              reg_gatewayRegex : /Default Gateway:\s*([\d.]+)/,
              reg_dnsDhcpRegex : /DNS servers configured through DHCP:\s*([\d.]+)/,
              reg_dnsStaticRegex : /Statically Configured DNS Servers:\s*([\d.]+)/
            }, 
            plugin_showing : true //插件是否前台显示中
        };
        const KONG = "空...", DB_NAME = "plan_list_db";
    </script>
    <script src="./js/vue.global.prod.min.js"></script>
    <script src="./js/comm.js"></script>
    <script src="./js/tools_macos.js"></script>
    <script src="./js/tools_windows.js"></script>
    <script src="./js/ipchang.js"></script>

</body>

</html>